body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fdd67a;
}

.scene {
    width: 800px;
    height: 600px;
    position: relative;
}

.tabletop {
    width: 500px;
    height: 50px;
    background-color: #8B4513;
    position: absolute;
    top: 250px;
    left: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.leg {
    width: 45px;
    height: 300px;
    background-color: #8B4513;
    position: absolute;
    top: 300px;
}

.leg1 { left: 170px; }
.leg2 { left: 580px; }

.guitar {
    position: absolute;
    left: 160px;
    top: 400px;
    transform: rotate(-15deg);
    z-index: 2;
}

.guitar-body {
    width: 150px;
    height: 220px;
    background: #DEB887;
    border-radius: 40% 40% 50% 50%;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.guitar-hole {
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50px;
}

.string {
    width: 1px;
    height: 320px;
    background: rgb(243, 242, 236);
    position: absolute;
    top: -170px;
}

.string1 { left: 62px; }
.string2 { left: 68px; }
.string3 { left: 74px; }
.string4 { left: 80px; }

.guitar-neck {
    width: 30px;
    height: 200px;
    background: #CD853F;
    position: absolute;
    left: 60px;
    bottom: 220px;
    border-radius: 5px;
}

.fretboard {
    width: 20px;
    height: 180px;
    background: #333;
    position: absolute;
    left: 5px;
    top: 10px;
}

.monitor {
    position: absolute;
    left: 250px;
    bottom: 330px;
    z-index: 1;
}

.screen {
    width: 200px;
    height: 150px;
    background: #1a1a1a;
    border-radius: 10px;
    border: 10px solid #666;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.stand {
    width: 60px;
    height: 20px;
    background: #555;
    margin: 0 auto;
    border-radius: 3px;
}

.base {
    width: 120px;
    height: 10px;
    background: #555;
    position: absolute;
    top: 180px;
    left: 50px;
    border-radius: 2px;
}

.lamp {
    position: absolute;
    top: 90px;
    left: 550px;
}

.lamp-base {
    width: 50px;
    height: 13px;
    background-color: #DEB887;
    position: absolute;
    top: 157px;
}

.lamp-stand {
    width: 10px;
    height: 97px;
    background-color: #C0C0C0;
    position: absolute;
    top: 60px;
    left: 20px;
}

.lamp-shade {
    width: 85px;
    height: 40px;
    background-color: #f8ff95;
    position: absolute;
    top: 20px;
    left: -17px;
    border-radius: 50% 50% 0 0;
}